<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title></title>
	<script src="js/rem.js"></script>
	<script src="js/jq.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/swiper.min.js"></script>
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/swiper.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<!--whq-->

<div class="indexTop" id="indexTop">
	<div class="conWidth">
		<img :src="topImgUrl" alt="" class="topImg">
	</div>
</div>

<div v-cloak class="navMenuList clearfix" id="navMenuList">
	<div class="conWidth clearfix">
		<div class="titName f_l">{{knowledge}}</div>
		<ul class="knowledge f_l">
			<li v-for="(link,name,index) in knowledgeDataList" class="nav-li" :class="index">
				<a :href="link">{{ name }}</a>
			</li>
		</ul>
		<div class="titName f_l">{{trade}}</div>
		<ul class="trade f_l">
			<li v-for="(link,name,index) in tradeDataList" class="nav-li" :class="index">
				<a :href="link">{{ name }}</a>
			</li>
		</ul>
		<div class="UserAndSearch f_r">
			<ul>
				<li><a href="javascript:;"><img src="images/user.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="images/search.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</div>

<a class="headlineNew conWidth" :href="url"><div v-cloak>{{newTitle}}</div></a>
<div style="height: .08rem;background-color: #C20000;margin-top:.08rem;" class="conWidth"></div>
<!--首页新闻轮播图-->
<div class="indexBanner">
	<div class="swiper-container" style="height:100%;">
		<div class="swiper-wrapper">
			<div v-for="(value, key, index) in indexBanner"  class="swiper-slide">
				<img :src="value.url" alt="" style="height: 100%;">
				<div class="info">{{value.info}}</div>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>
<!--首页新闻轮播图end-->
<!--安全动态&热点推荐-->
<div v-cloak class="indexSec01">
	<div class="conWidth clearfix">
		<div class="sec1 f_l">
			<div class="title clearfix">
				<span class="name f_l">{{titleName.titName01}}</span>
				<!--<a href="javascript:;" class="more f_r">更多>></a>-->
				<div class="line"></div>
			</div>
			<div class="bottomBox clearfix">
				<div class="leftImg f_l">
					<img :src="safeHotNew.imgUrl" alt="">
				</div>
				<div class="rightConBox f_r">
					<div class="newTit">{{safeHotNew.newTit}}</div>
					<div class="introBox">{{safeHotNew.newIntro}}</div>
					<a :href="safeHotNew.moreHref" class="more">更多>></a>
				</div>
			</div>
		</div>
		<div class="sec2 f_r">
			<div class="title clearfix">
				<span class="name f_l">{{titleName.titName02}}</span>
				<a :href="hotRecommendsUrl" class="more f_r">更多>></a>
				<div class="line"></div>
			</div>
			<ul class="sec02HotRecommendsList">
				<li v-for="(value,key,index) in hotRecommendsList">
					<a :href="value.url">
						<span class="newTit">
							·&nbsp&nbsp{{value.title}}
						</span>
						<span class="newTime f_r">
							{{value.time}}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--安全动态/特别关注/热点推荐-->
<!--安全动态&热点推荐end-->
<div v-cloak class="indexSec02">
	<div class="conWidth clearfix">
		<div class="indexSec02LeftBox f_l">
			<div class="newsList">
				<a v-for="(value,key,index) in newList" :href="value.newUrl">
					{{value.newTit}}
					<span class="time f_r">{{value.newTime}}</span>
				</a>
			</div>
			<div class="imgNewsBox">
				<a v-for="(value,key,index) in imgList"  :href="value.newHref">
					<img :src="value.imgUrl" alt="">
				</a>
			</div>
		</div>
		<div class="indexSec02RightBox f_r">
			<a :href="rightInfo.safeHref" class="safeNewsList">安全动态</a>
			<a :href="rightInfo.specialHref" class="specialList">特别关注</a>
			<div class="safeMenu">
				<img :src="rightInfo.specialImgUrl" alt="">
				<a :href="rightInfo.specialHref01" class="hot"></a>
				<a :href="rightInfo.specialHref02" class="new"></a>
			</div>
			<a :href="rightInfo.hotHref" class="safeNewsList">热点推荐</a>
		</div>
	</div>
</div>
<!--indexSec03-->
<div v-cloak class="indexSec03 conWidth clearfix">
	<div class="leftBox f_l">
		<div class="IndexTitleStyle clearfix">
			<span class="name f_l">{{MainTitName[0]}}</span>
			<a :href="MainTitUrl[0]" class="more f_r">更多+</a>
			<div class="line"></div>
		</div>
		<div class="headBox">
			<div class="bannerBox swiper-container">
				<div class="swiper-wrapper">
					<a v-for="(value,key,index) in specialListBanner" :href="value.imgHref" class="swiper-slide">
						<img :src="value.imgUrl" alt="">
					</a>
				</div>
				<div class="swiper-pagination indexSec03HeadBoxSwiperPagination"></div>
			</div>
			<div class="rightList">
				<a v-for="(value,key,index) in specialHeadList" :href="value.href">{{value.intro}}</a>
			</div>
		</div>
		<div class="indexSec03ListBox">
			<a v-for="(value,key,index) in indexSec03ListBox01" :href="value.href" class="item clearfix">
				<span class="dot"></span> &nbsp
				<span class="title">{{value.title}}</span>
				<span class="time f_r">{{value.time}}</span>
			</a>
			<a :href="imgUrlBox1.href" class="imgBox">
				<img :src="imgUrlBox1.imgSrc" alt="">
			</a>
		</div>
	</div>
	<div class="centerBox f_l">
		<div class="IndexTitleStyle clearfix">
			<span class="name f_l">{{MainTitName[1]}}</span>
			<a :href="MainTitUrl[0]" class="more f_r">更多+</a>
			<div class="line"></div>
		</div>
		<div class="indexSec03ListBox">
			<a v-for="(value,key,index) in indexSec03ListBox02" :href="value.href" class="item clearfix">
				<span class="dot"></span> &nbsp
				<span class="title">{{value.title}}</span>
				<span class="time f_r">{{value.time}}</span>
			</a>
		</div>
		<div class="IndexTitleStyle clearfix">
			<span class="name f_l">{{MainTitName[2]}}</span>
			<a :href="MainTitUrl[0]" class="more f_r">更多+</a>
			<div class="line"></div>
		</div>
		<div class="indexSec03ListBox">
			<a v-for="(value,key,index) in indexSec03ListBox03" :href="value.href" class="item clearfix">
				<span class="dot"></span> &nbsp
				<span class="title">{{value.title}}</span>
				<span class="time f_r">{{value.time}}</span>
			</a>
		</div>
	</div>
	<div class="rightBox f_r">
		<div class="IndexTitleStyle clearfix">
			<span class="name f_l">{{MainTitName[3]}}</span>
			<span class="dayWeekMonth f_r">
				<span class="current">日</span>
				<span>周</span>
				<span>月</span>
			</span>
			<div class="line"></div>
		</div>
		<div class="indexSec03BBS">
			<a v-for="(value,key,index) in indexSec03ListBox04" :href="value.href" class="item clearfix">
				<span class="title">{{value.title}}</span>
				<span class="visits f_r">{{value.visits}}</span>
			</a>
		</div>
		<div class="IndexTitleStyle clearfix">
			<span class="name f_l">{{MainTitName[4]}}</span>
			<div class="line"></div>
		</div>
		<div class="indexSec03Box05MenuList">
			<a v-for="(value,key,index) in indexSec03Box05MenuList" :href="value.href" class="menuList">{{value.name}}</a>
		</div>
	</div>
</div>
<div v-cloak class="indexAdvertising conWidth">
    <a href="javascript:;">
        <img src="images/guanggao.png" alt="">
    </a>
</div>
<!--职业卫生/管理体系/知识问答-->
<div v-cloak class="indexSec04 conWidth">
    <div class="leftBox">
        <div class="IndexTitleStyle clearfix">
            <span class="name f_l">{{leftBox.boxName}}</span>
            <a :href="leftBox.boxHref" class="more f_r">更多+</a>
            <div class="line"></div>
        </div>
        <div class="dataList">
            <a v-for="(value,key,index) in leftBox.dataList" :href="value.href">{{value.title}}</a>
        </div>
    </div>
    <div class="centerBox">
        <div class="IndexTitleStyle clearfix">
            <span class="name f_l">{{centerBox.boxName}}</span>
            <a :href="centerBox.boxHref" class="more f_r">更多+</a>
            <div class="line"></div>
        </div>
        <div class="dataList">
            <a v-for="(value,key,index) in centerBox.dataList" :href="value.href">{{value.title}}</a>
        </div>
    </div>
    <div class="rightBox">
        <div class="IndexTitleStyle clearfix">
            <span class="name f_l">{{rightBox.boxName}}</span>
            <a href="" class="more f_r">更多+</a>
            <div class="line"></div>
        </div>
        <div class="dataList">
            <a v-for="(value,key,index) in rightBox.dataList" :href="value.href">{{value.title}}</a>
        </div>
    </div>
</div>
<!--职业卫生/管理体系/知识问答end-->
<div class="indexAdvertising conWidth">
    <a href="javascript:;">
        <img src="images/guanggao02.png" alt="">
    </a>
</div>
<!--安全论坛-->
<div v-cloak class="indexSec05 conWidth">
    <div class="leftBox">
        <div class="indexSec05TitleBox clearfix">
            <span class="name f_l">{{indexSec05.boxName}}</span>
            <a :href="indexSec05.boxHref" class="more f_r">打开</a>
            <div class="line"></div>
        </div>
        <div class="dataListBox">
            <a v-for="(value,key,index) in indexSec05.dataList" :href="value.href" class="item clearfix">
                <span class="title">{{value.title}}</span>
                <span class="time f_r">{{value.time}}</span>
            </a>
        </div>
    </div>
    <div class="rightBox">
        <img src="images/safeluntan.png" alt="">
    </div>
</div>
<!--安全论坛end-->
<!--培训课件/管理资料 等选项卡-->
<div v-cloak class="indexSec06 conWidth">
    <!--01-->
    <div class="tableItemBox">
        <ul class="tabList">
            <li v-for="(value,index) in table01.tabList"
                :class="{active:index == table01.num}"
                @click="tab(index)">{{value}}</li>
        </ul>
        <div class="tabConBox">
            <div v-for="(value,index) in table01.tabCon" v-show="index == table01.num" class="conItem">
                <a :href="value.href" class="more">【查看更多】</a>
                <div class="conListBox">
                    <a v-for="(value,key,index) in value.conListBox" :href="value.href" class="clearfix">
                        <span class="title">{{value.title}}</span>
                        <span class="time f_r">{{value.time}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--01-->
    <!--02-->
    <div class="tableItemBox">
        <ul class="tabList">
            <li v-for="(value,index) in table02.tabList"
                :class="{active:index == table02.num}"
                @click="tab02(index)">{{value}}</li>
        </ul>
        <div class="tabConBox">
            <div v-for="(value,index) in table02.tabCon" v-show="index == table02.num" class="conItem">
                <a :href="value.href" class="more">【查看更多】</a>
                <div class="conListBox">
                    <a v-for="(value,key,index) in value.conListBox" :href="value.href" class="clearfix">
                        <span class="title">{{value.title}}</span>
                        <span class="time f_r">{{value.time}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--02-->
    <!--03-->
    <div class="tableItemBox">
        <ul class="tabList">
            <li v-for="(value,index) in table03.tabList"
                :class="{active:index == table03.num}"
                @click="tab03(index)">{{value}}</li>
        </ul>
        <div class="tabConBox">
            <div v-for="(value,index) in table03.tabCon" v-show="index == table03.num" class="conItem">
                <a :href="value.href" class="more">【查看更多】</a>
                <div class="conListBox">
                    <a v-for="(value,key,index) in value.conListBox" :href="value.href" class="clearfix">
                        <span class="title">{{value.title}}</span>
                        <span class="time f_r">{{value.time}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--03-->
    <!--04-->
    <div class="tableItemBox">
        <ul class="tabList">
            <li v-for="(value,index) in table04.tabList"
                :class="{active:index == table04.num}"
                @click="tab04(index)">{{value}}</li>
        </ul>
        <div class="tabConBox">
            <div v-for="(value,index) in table04.tabCon" v-show="index == table04.num" class="conItem">
                <a :href="value.href" class="more">【查看更多】</a>
                <div class="conListBox">
                    <a v-for="(value,key,index) in value.conListBox" :href="value.href" class="clearfix">
                        <span class="title">{{value.title}}</span>
                        <span class="time f_r">{{value.time}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--04-->
</div>
<!--培训课件/管理资料 等选项卡 end-->
<!--安全问答/互动-->
<div v-cloak class="indexSec07 conWidth">
    <div class="indexAnswersLeftBox">
        <div class="iAnswersTit">
            <span class="title">{{BoxNmae}}</span>
            <a :href="this.moreHref" class="more f_r">></a>
        </div>
        <div class="iAnswersListBox">
            <div v-for="(value,index) in dataList" class="iAnswersListBox_item">
                <div class="top">
                    <span class="time">
                        <span class="day">{{value.time_day}}</span>
                        <span class="month">{{value.time_month}}</span>
                    </span>
                    <span class="questions">{{value.questions}}</span>
                </div>
                <div class="conBox">{{value.answer}}</div>
            </div>
        </div>
    </div>
    <div class="indexAnswersRightBox">
        <a href=""><img src="images/Public_opinion.png" alt=""></a>
        <a href=""><img src="images/Complaint_reporting.png" alt=""></a>
        <a href=""><img src="images/guanggaowei.png" alt=""></a>
    </div>
</div>
<!--安全问答/互动 end-->
<!--安全图库-->
<div v-cloak class="indexSec08 conWidth">
    <div class="boxName">{{boxName}}</div>
    <div class="dataListBox">
        <a v-for="(value,index) in dataList" :href="value.url" class="item">
            <div class="imgBox">
                <img :src="value.imgSrc" alt="">
            </div>
            <span class="title">{{value.title}}</span>
        </a>
    </div>
</div>
<!--安全图库 end-->
<!-- Copyright -->
<div class="indexBottomBox">
    <div class="conWidth">
		<div class="indexBottomLinkBox">
			<a href="javascript:;">中子安科</a>
			<span>|</span>
			<a href="javascript:;">网站简介</a>
			<span>|</span>
			<a href="javascript:;">业务合作</a>
			<span>|</span>
			<a href="javascript:;">提交需求</a>
			<span>|</span>
			<a href="javascript:;">在线投稿</a>
			<span>|</span>
			<a href="javascript:;">版权声明</a>
			<span>|</span>
			<a href="javascript:;">友情链接</a>
			<span>|</span>
			<a href="javascript:;">联系我们</a>
		</div>
		<div class="copyRightBox">
			本站郑重声明：所载文章、数据仅供参考，使用前请核实，风险自负。<a href="javascript:;" style="color: #333;display: inline-block;margin-left: .3rem;">网站统计 </a><br>
			Copyright   京ICP备15000058号-1  All Rights Reserved 版权所有 复制必究
		</div>
	</div>
</div>
<!-- Copyright -->

<!--<div style="height: 5rem;"></div>-->
<!--whq-->
<script src="js/index.js"></script>
<script>
    /*
    * swiper.js
    * */
    window.onload = function () {
        let indexSwiperBanner = new Swiper('.indexBanner .swiper-container',{
            pagination: {
                el: '.indexBanner .swiper-pagination',
                clickable :true,
            },
        })
        let indexSec03Banner = new Swiper('.indexSec03 .bannerBox',{
            pagination: {
                el: '.indexSec03 .indexSec03HeadBoxSwiperPagination',
                clickable :true,
            },
        })
    }
</script>
</body>
</html>