<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全强企网</title>
    <script src="../js/rem.js"></script>
    <script src="../js/jq.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/swiper.min.js"></script>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/list_videos.css">
</head>
<body>
<!-- 公用头部 -->
<div class="indexTop" id="indexTop">
    <div class="conWidth">
        <a href="../index.html"><img src="../images/topImg.png " alt="" class="topImg"></a>
    </div>
</div>
<div v-cloak class="navMenuList clearfix" id="navMenuList">
	<div class="conWidth clearfix">
		<div class="titName f_l">{{knowledge}}</div>
		<ul class="knowledge f_l">
			<li v-for="(link,name,index) in knowledgeDataList" class="nav-li" :class="index">
				<a :href="link">{{ name }}</a>
			</li>
		</ul>
		<div class="titName f_l">{{trade}}</div>
		<ul class="trade f_l">
			<li v-for="(link,name,index) in tradeDataList" class="nav-li" :class="index">
				<a :href="link">{{ name }}</a>
			</li>
		</ul>
		<div class="UserAndSearch f_r">
			<ul>
				<li><a href="javascript:;"><img src="../images/user.png" alt=""></a></li>
				<li><a href="search.html"><img src="../images/search.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- 公用头部end -->
<!-- 位置导航 -->
<div class="linkPath conWidth">
    <a href="../index.html">安全管理网</a>
    <span> >>> </span>
    <a href="list_videos.html">视频</a>
</div>
<!-- 位置导航 -->
<!-- listSafeNews_sec01 -->
<div class="listVideos_sec01 conWidth">
    <div class="leftBox">
        <div class="swiper-container" style="height:100%;">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="item in letBoxBannerData">
                    <a href="video_show.html" style="display: block;"><img style="width: 100%;height: 100%;" src="../images/sekuai373x289.png" alt=""></a>
                </div>
                <div class="swiper-slide" v-for="item in letBoxBannerData">
                    <a href="video_show.html" style="display: block;"><img style="width: 100%;height: 100%;" src="../images/sekuai373x289.png" alt=""></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="rightBox">
        <div class="titBox">
            最新视频
        </div>
        <div class="listBox">
            <a href="video_show.html">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
                <span class="time f_r">2022-01-08</span>
            </a>
            <a href="video_show.html">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
                <span class="time f_r">2022-01-08</span>
            </a>
            <a href="video_show.html">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
                <span class="time f_r">2022-01-08</span>
            </a>
            <a href="video_show.html">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
                <span class="time f_r">2022-01-08</span>
            </a>
            <a href="video_show.html">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
                <span class="time f_r">2022-01-08</span>
            </a>
            <a href="video_show.html">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
                <span class="time f_r">2022-01-08</span>
            </a>
            <a href="video_show.html">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
                <span class="time f_r">2022-01-08</span>
            </a>
        </div>
    </div>
</div>
<!-- listSafeNews_sec01 end -->
<!-- 分类列表 -->
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
            教育视频
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
            事故案例
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
            法规解读
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
            消防教育
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
            矿山安全
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
            职业卫生
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
            水利工程
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
                急救知识
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
                公益短片
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
                国外视频
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
                文艺活动
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
                视频新闻
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<div class="videoListComBox conWidth">
    <div class="topTit clearfix">
        <span class="name">
                校园安全
        </span>
        <a href="list_videos02.html" class="more f_r">
            查看更多
        </a>
    </div>
    <div class="listBox">
        <a href="video_show.html" class="item">
            <div class="imgBox">
                <img src="../images/sekuai373x289.png" alt="">
            </div>
            <div class="name">
                安徽定远发生一起大巴车侧翻事故 造成2死2伤
            </div>
        </a>
    </div>
</div>
<!-- 分类列表end -->
<!-- Copyright -->
<div class="indexBottomBox">
    <div class="conWidth">
        <div class="indexBottomLinkBox">
            <a href="javascript:;">中子安科</a>
            <span>|</span>
            <a href="javascript:;">网站简介</a>
            <span>|</span>
            <a href="javascript:;">业务合作</a>
            <span>|</span>
            <a href="javascript:;">提交需求</a>
            <span>|</span>
            <a href="javascript:;">在线投稿</a>
            <span>|</span>
            <a href="javascript:;">版权声明</a>
            <span>|</span>
            <a href="javascript:;">友情链接</a>
            <span>|</span>
            <a href="javascript:;">联系我们</a>
        </div>
        <div class="copyRightBox">
            本站郑重声明：所载文章、数据仅供参考，使用前请核实，风险自负。<a href="javascript:;" style="color: #333;display: inline-block;margin-left: .3rem;">网站统计 </a><br>
            Copyright   京ICP备15000058号-1  All Rights Reserved 版权所有 复制必究
        </div>
    </div>
</div>
<!-- Copyright -->
<script src="../js/head.js"></script>
<script>
    /*
    * swiper.js
    * */
    window.onload = function () {
        let listSafeNews_sec01Banner = new Swiper('.listVideos_sec01 .swiper-container',{
           pagination: {
               el: '.listVideos_sec01 .swiper-pagination',
               clickable :true,
           },
        });
    }
</script>
</body>
</html>